{% extends 'main.html' %}
{% load static %}
{% block content %}
<body>


<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">About Us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
                        class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last wrap-about wrap-about d-flex align-items-stretch">
                <div class="img" style="background-image: url(/images/poster/aviation_poster_1.jpg); border background-size: auto;"></div>
            </div>
            <div class="col-md-6 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">CAREER CAMPUS ACADEMY</h2>
                <p>CAREER CAMPUS was established with an aim to create skilled professionals as per the current
                    industrial requirements and guide them to achieve their career success through our unique integrated
                    programs. Career Campus is the only campus college in Kerala where studies of Airlines, Language and
                    Management Studies and related courses are imparted. The campus is established since 2000. We
                    conduct in our institute various job oriented and attractive courses suited for IT Courses,
                    Management Degree/Diploma Courses, Different Types of Language Courses, Aviation, Tourism and
                    Hospitality sectors.</p>

                <p>Classes are handled by experts in relevant field. The Management encourages all attempts and
                    innovations to mold out the students self motivated and to create self confidence. They get
                    opportunities for their exposure in their academic performance as well as extra curricular
                    activities. We run a dynamic recruitment cell to enable leading industries to pick the most suitable
                    candidates, and fit to their needs.</p>

                <p>We set and maintain new benchmark in management studies delivering a portfolio of various
                    certification in Diploma, graduation and post graduation levels and various State Government
                    university approved by UGC. We have a strong pedigree in development of quality education and we
                    always set international standard for management methodologies.</p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-counter img" data-stellar-background-ratio="0.5" id="section-counter"
         style="background-image: url(images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center" style="background-image: url(/images/about-2.jpg);">
                    <div class="video justify-content-center">
                        <a class="icon-video popup-vimeo d-flex justify-content-center align-items-center"
                           href="https://vimeo.com/45830194">
                            <span class="ion-ios-play"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">{{academy.academy_name}}</h2>
                <p>{{academy.academy_description}}</p>
            </div>
        </div>
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="{{academy.staff_count}}">0</strong>
                                <span>Our Team</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="{{academy.student_count}}">0</strong>
                                <span>Students</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong class="number" data-number="{{academy.courses_count}}">0</strong>
                                <span>Courses</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Student Says About Us</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the
                    necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    {% for student in students_response %}
                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4" style="background-image: url({{student.student_image.url}})">
                            </div>
                            <div class="text ml-2">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p>{{student.student_description}}</p>
                                <p class="name">{{student.student_name}}</p>
                                <span class="position">{{student.student_course}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a class="gallery image-popup img d-flex align-items-center" href="images/image_1.jpg"
                   style="background-image: url(images/course-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery image-popup img d-flex align-items-center" href="images/image_2.jpg"
                   style="background-image: url(images/image_2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery image-popup img d-flex align-items-center" href="images/image_3.jpg"
                   style="background-image: url(images/image_3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a class="gallery image-popup img d-flex align-items-center" href="images/image_4.jpg"
                   style="background-image: url(images/image_4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}