<!DOCTYPE html>
<html lang="en">
	<title>Career Campus Academy</title>
{% load static %}
<body>
<div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="{% url 'home' %}">Career. <span>Campus Academy</span></a>
    			</div>

		    </div>
		  </div>
    </div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center px-4">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ">
	        	<li class="nav-item active"><a href="{% url 'home' %}" class="nav-link pl-0">Home</a></li>
				<li class="nav-item"><a href="{% url 'courses' %}" class="nav-link">Courses</a></li>
				<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
				<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
	        	<!-- <li class="nav-item"><a href="{% url 'teams' %}" class="nav-link">Our Team</a></li> -->
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
</body>
</html>